body {
  font-family: "Courier New", Courier, monospace;
  background-color: bisque;
}

#Introduction {
  font-size: medium;
  background-color: lightblue;
  padding: 20px;
  border: 1px solid blue;
}
