body {
  font-family: "Courier New", Courier, monospace;
  background-color: bisque;
}

#Introduction {
  font-size: medium;
  background-color: #f2e5cf;
  padding: 20px;
  border: 1px solid #ac9e97;
}

#WeatherBot_Langs {
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 30px;
  align-items: stretch;
}

li {
  float: left;
}

li a {
  border-radius: 20px;
  background-color: #4d4722;
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: white;
}

li a:hover {
  border-radius: 10px;
  background-color: grey;
}
